<div class="container">
  <div class="row">
    <div class="col-xs-12 auth-form">
      <h2>Sign up</h2>
      <form>
        <div class="form-group">
          <label for="firstname"> name</label>
          <input type="text" class="form-control" />
          <!-- <div class="invalid-feedback">
                  <div>Username is required</div>
                </div> -->
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" />
          <!-- <div class="invalid-feedback">
              <div>Username is required</div>
            </div> -->
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" />
          <!-- <div class="invalid-feedback">
              <div>Password is required</div>
            </div> -->
        </div>

        <div class="form-group">
          <button class="btn btn-primary">
            <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
            Signup
          </button>
          <a routerLink="/login" class="btn btn-link">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
