<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"><h2>Logo</h2></div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action bg-light"
      [routerLink]="[{ outlets: { content: ['new-campaign'] } }]"
      >New campaign</a
    >
    <a
      class="list-group-item list-group-item-action bg-light"
      [routerLink]="[{ outlets: { content: ['my-campaigns'] } }]"
      >Manage campaigns</a
    >
    <a
      class="list-group-item list-group-item-action bg-light"
      [routerLink]="[{ outlets: { content: ['submissions'] } }]"
      >Manage submissions</a
    >

    <a
      class="list-group-item list-group-item-action bg-light"
      [routerLink]="[{ outlets: { content: ['creators'] } }]"
      >Creators</a
    >
  </div>
</div>
