<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <a routerLink=""
      ><img class="logo" src="../../../assets/images/logo4.png"
    /></a>
  </div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { content: ['my-campaigns'] } }]"
    >
      {{ "BRAND-DASH.MANAGE-CAMPAIGNS" | translate }}
    </a>
    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { content: ['new-campaign'] } }]"
      >{{ "BRAND-DASH.NEW-CAMPAIGN" | translate }}</a
    >

    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { content: ['submissions'] } }]"
      >{{ "BRAND-DASH.MANAGE-SUBMISSIONS" | translate }}</a
    >

    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { content: ['creators'] } }]"
      >{{ "BRAND-DASH.CREATORS" | translate }}</a
    >
  </div>
</div>
