<section class="digital-marketing">
  <div class="container content-row">
    <div class="row text-row">
      <div class="col-md-12">
        <h1 class="dm-text">Digital Marketing</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
      </div>
    </div>
    <div class="row card-row">
      <div class="col-md-4 card">
        <fa-icon [icon]="faDollarSign" class="card-icon"></fa-icon>
        <h3 class="card-title">
          Cost effective
        </h3>
        <p class="card-text">
          Using digital marketing tactics is the most cost-effective way to
          market your business.
        </p>
      </div>
      <div class="col-md-4 card">
        <fa-icon [icon]="faTrophy" class="card-icon"></fa-icon>
        <h3 class="card-title">
          Powerful
        </h3>
        <p class="card-text">
          Digital marketing is the most powerful form of marketing.
        </p>
      </div>
      <div class="col-md-4 card">
        <fa-icon [icon]="faChess" class="card-icon"></fa-icon>
        <h3 class="card-title">
          Adaptable
        </h3>
        <p class="card-text">
          You can easily and quickly adapt your strategy and tactics for best
          results.
        </p>
      </div>
    </div>
  </div>
</section>
