<section class="digital-marketing">
  <div class="container content-row">
    <div class="row text-row">
      <div class="col-md-12">
        <h1 class="dm-text">
          {{ "HOME.DIGITAL-MARKETING-TITLE" | translate }}
        </h1>
        <p>
          {{ "HOME.DIGITAL-MARKETING-TEXT" | translate }}
        </p>
      </div>
    </div>
    <div class="row card-row">
      <div class="col-sm-12 col-md-4 card">
        <fa-icon [icon]="faDollarSign" class="card-icon"></fa-icon>
        <h3 class="card-title">
          {{ "HOME.DIGITAL-MARKETING-CARD1-TITLE" | translate }}
        </h3>
        <p class="card-text">
          {{ "HOME.DIGITAL-MARKETING-CARD1-TEXT" | translate }}
        </p>
      </div>
      <div class="col-sm-12 col-md-4 card">
        <fa-icon [icon]="faTrophy" class="card-icon"></fa-icon>
        <h3 class="card-title">
          {{ "HOME.DIGITAL-MARKETING-CARD2-TITLE" | translate }}
        </h3>
        <p class="card-text">
          {{ "HOME.DIGITAL-MARKETING-CARD2-TEXT" | translate }}
        </p>
      </div>
      <div class="col-sm-12 col-md-4 card">
        <fa-icon [icon]="faChess" class="card-icon"></fa-icon>
        <h3 class="card-title">
          {{ "HOME.DIGITAL-MARKETING-CARD3-TITLE" | translate }}
        </h3>
        <p class="card-text">
          {{ "HOME.DIGITAL-MARKETING-CARD3-TEXT" | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
