<div class="page-wrapper bg-gra-01 p-t-130 p-b-100 font-poppins">
  <div class="wrapper wrapper--w680">
    <div class="card card-4">
      <div class="card-body">
        <h2 class="title">
          Fill in the fields bellow about the desired campaign
        </h2>
        <form
          #newCampaignForm="ngForm"
          (ngSubmit)="onSubmitNewCampaign(newCampaignForm)"
        >
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group">
                <label class="label">Product or service name</label>
                <input
                  class="input--style-4"
                  type="text"
                  name="name"
                  ngModel
                  required
                />
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group">
                <label class="label">Product or service description</label>
                <textarea
                  class="input--style-4"
                  type="text"
                  name="description"
                  matInput
                  ngModel
                  required
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group select-field">
                <label class="label">Category</label>
                <mat-select class="input--style-4" name="category" ngModel>
                  <mat-option
                    *ngFor="let category of categories"
                    [value]="category.name"
                    >{{ category.name }}</mat-option
                  >
                </mat-select>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group">
                <label class="label">Brief the creators</label>
                <textarea
                  class="input--style-4"
                  type="text"
                  name="brief"
                  matInput
                  ngModel
                  required
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group">
                <label class="label">Do</label>
                <textarea
                  class="input--style-4"
                  type="text"
                  name="todo"
                  matInput
                  ngModel
                  required
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group">
                <label class="label">Don't</label>
                <textarea
                  class="input--style-4"
                  type="text"
                  name="dont"
                  matInput
                  ngModel
                  required
                >
                </textarea>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group">
                <label class="label">Tags to include</label>
                <mat-form-field style="width: 100%">
                  <mat-chip-list #chipList aria-label="Tag selection">
                    <mat-chip
                      *ngFor="let tag of tags"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="remove(tag)"
                    >
                      {{ tag.name }}
                      <mat-icon matChipRemove *ngIf="removable"
                        >cancel</mat-icon
                      >
                    </mat-chip>
                    <input
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)"
                    />
                  </mat-chip-list>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <h4
                class="title"
                style="font-size: 20px;
              margin-bottom: 10px;
              margin-top: 20px;"
              >
                Who you are looking for?
              </h4>
            </div>
          </div>

          <div class="row row-space">
            <div class="col-12">
              <div class="input-group select-field">
                <label class="label">Gender</label>

                <mat-select class="input--style-4" ngModel name="gender">
                  <mat-option *ngFor="let g of gender" [value]="g.name">{{
                    g.name
                  }}</mat-option>
                </mat-select>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <label class="label">Age</label>
              <div class="slidecontainer">
                <!-- <span class="text-small">16</span>
                <span class="text-small" style="float: right ;">80</span> -->
                <mat-slider
                  thumbLabel
                  [displayWith]="formatLabel"
                  min="16"
                  max="80"
                  class="age-slider"
                  (input)="onInputChange($event)"
                ></mat-slider>
              </div>
            </div>
          </div>

          <div class="row row-space">
            <div class="p-t-15">
              <button class="btn btn--radius-2 btn--blue" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
