<div class="page-wrapper bg-gra-01 p-t-130 p-b-100 font-poppins">
  <div class="wrapper wrapper--w680">
    <div class="card card-4">
      <div class="card-body">
        <h2 class="title">New campaign</h2>
        <form>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group">
                <label class="label">Product or service name</label>
                <input
                  class="input--style-4"
                  type="text"
                  name="name"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group">
                <label class="label">Product or service description</label>
                <input
                  class="input--style-4"
                  type="text"
                  name="description"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group category-field">
                <label class="label">Category</label>
                <select class="input--style-4">
                  <option>Beauty</option>
                  <option>Fitness</option>
                  <option>Crafts</option>
                  <option>Restaurants</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group">
                <label class="label">Brief the creators</label>
                <input
                  class="input--style-4"
                  type="text"
                  name="brief"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group">
                <label class="label">Do</label>
                <input class="input--style-4" type="text" name="do" required />
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="col-12">
              <div class="input-group">
                <label class="label">Don't</label>
                <input
                  class="input--style-4"
                  type="text"
                  name="dont"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row row-space">
            <div class="p-t-15">
              <button class="btn btn--radius-2 btn--blue" type="submit">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
