<nav class="navbar navbar-expand-lg navbar-dark navbar-style">
  <a class="navbar-brand" routerLink="/">
    <img class="logo" src="../../assets/images/logo3.png" />
  </a>

  <button
    class="navbar-toggler navbar-toggler-custom"
    type="button"
    (click)="toggleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse extra-spacing"
    we
    [ngClass]="{ show: navbarOpen }"
  >
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="#brand" class="nav-link">{{ "NAVBAR.OPT1" | translate }}</a>
      </li>

      <li class="nav-item">
        <a href="#creators" class="nav-link">{{ "NAVBAR.OPT2" | translate }}</a>
      </li>

      <li class="nav-item">
        <a href="#about" class="nav-link">{{ "NAVBAR.OPT3" | translate }}</a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="isAuthenticated"
          (click)="onDashboardClick()"
          >{{ "NAVBAR.OPT4" | translate }}</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login" *ngIf="!isAuthenticated">{{
          "NAVBAR.OPT5" | translate
        }}</a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link last-link"
          routerLink="/signup"
          *ngIf="!isAuthenticated"
          >{{ "NAVBAR.OPT6" | translate }}</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link last-link"
          style="cursor: pointer;"
          *ngIf="isAuthenticated"
          (click)="onLogout()"
          >{{ "NAVBAR.OPT7" | translate }}</a
        >
      </li>

      <li class="nav-item lang-item">
        <label class="lang-label">
          <select
            class="form-control lang-select"
            #langselect
            (change)="translate.use(langselect.value)"
          >
            <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{
              lang
            }}</option>
          </select>
        </label>
      </li>
    </ul>
  </div>
</nav>
