<section class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 footer-left">
        <div>
          <p>{{ "HOME.FOOTER-LEFT" | translate }}</p>
          <fa-icon [icon]="faFacebook" class="card-icon social-icons"></fa-icon>
          <fa-icon
            [icon]="faInstagram"
            class="card-icon social-icons"
          ></fa-icon>
          <fa-icon [icon]="faTwitter" class="card-icon social-icons"></fa-icon>
          <fa-icon [icon]="faLinkedin" class="card-icon social-icons"></fa-icon>
        </div>
      </div>
      <div class="col-sm-6 footer-right">
        <fa-icon [icon]="faCopyright" class="card-icon social-icons"></fa-icon>
        2020, Marketings
      </div>
    </div>
  </div>
</section>
