<section class="brand" id="brand">
  <div class="container">
    <div class="row content-row">
      <div class="col-md-6 image-col">
        <div class="shadow-effect">
          <img src="/assets/images/1.jpg" style="max-height: 300px;" />
        </div>
      </div>
      <div class="col-md-6 text-col">
        <h3>{{ "HOME.BRANDS-TITLE" | translate }}</h3>
        <p>
          {{ "HOME.BRANDS-TEXT" | translate }}
        </p>
        <button class="join-button" routerLink="/signup">
          {{ "HOME.BRANDS-CREATORS-BTN" | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
