<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <a routerLink=""
      ><img class="logo" src="../../../assets/images/logo4.png"
    /></a>
    <!-- <p>Hello, {{ loggedUser.name }}</p> -->
  </div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { 'content-c': ['social-account'] } }]"
      >{{ "CREATOR-DASH.SOCIAL-MEDIA" | translate }}</a
    >
    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { 'content-c': ['campaign-feed'] } }]"
      >{{ "CREATOR-DASH.CAMPAIGN-FEED" | translate }}</a
    >
    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { 'content-c': ['my-submissions'] } }]"
      >{{ "CREATOR-DASH.MY-SUBMISSIONS" | translate }}</a
    >
    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { 'content-c': ['brands'] } }]"
      >{{ "CREATOR-DASH.BRANDS" | translate }}</a
    >
    <!-- <a
      (click)="onClickUpdate()"
      class="list-group-item list-group-item-action bg-light"
    >
      Update:
      <h2>{{ (message | async)?.notification.title }}</h2>
      <p>{{ (message | async)?.notification.body }}</p>
      {{ message | async | json }}
    </a> -->
  </div>
</div>
