<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <a routerLink=""
      ><img class="logo" src="../../../assets/images/logo4.png"
    /></a>
    <!-- <p>Hello, {{ loggedUser.name }}</p> -->
  </div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { 'content-c': ['social-account'] } }]"
      >Social Media Account</a
    >
    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { 'content-c': ['campaign-feed'] } }]"
      >Campaign feed</a
    >
    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { 'content-c': ['my-submissions'] } }]"
      >My submissions</a
    >
    <a
      class="list-group-item list-group-item-action bg-light"
      routerLinkActive="active"
      [routerLink]="[{ outlets: { 'content-c': ['brands'] } }]"
      >Brands</a
    >
    <a
      (click)="onClickUpdate()"
      class="list-group-item list-group-item-action bg-light"
    >
      Update:
      <h1>{{ (message | async)?.notification.title }}</h1>
      <p>{{ (message | async)?.notification.body }}</p>
      <!-- {{ message | async | json }} -->
    </a>
  </div>
</div>
