<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <h2>Logo</h2>
    <!-- <p>Hello, {{ loggedUser.name }}</p> -->
  </div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action bg-light"
      [routerLink]="[{ outlets: { 'content-c': ['social-account'] } }]"
      >Social Media Account</a
    >
    <a
      class="list-group-item list-group-item-action bg-light"
      [routerLink]="[{ outlets: { 'content-c': ['campaign-feed'] } }]"
      >Campaign feed</a
    >
    <a
      class="list-group-item list-group-item-action bg-light"
      [routerLink]="[{ outlets: { 'content-c': ['my-submissions'] } }]"
      >My submissions</a
    >
    <a
      class="list-group-item list-group-item-action bg-light"
      [routerLink]="[{ outlets: { 'content-c': ['brands'] } }]"
      >Brands</a
    >
    <a class="list-group-item list-group-item-action bg-light"
      >Fee calculator</a
    >
  </div>
</div>
