<section class="join">
  <div class="container">
    <div class="row content-row">
      <h2 style="margin: auto;">Join Us</h2>
      <p style="text-align: center; margin-top: 20px;">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
    </div>
    <div class="row content-row" style="padding-top: 0px;">
      <div class="col-sm-12 buttons">
        <button class="btn btn-light">Sign up</button>
        <button class="btn btn-light">Log in</button>
      </div>
    </div>
  </div>
</section>
