<section class="join">
  <div class="container">
    <div class="row content-row first-row">
      <div class="col-2"></div>
      <div class="col-8 join-col">
        <h2 style="margin: auto;">Join Us</h2>
        <p style="text-align: center; margin-top: 20px;">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>

    <div class="row content-row second-row">
      <div class="col-2"></div>
      <div class="col-4">
        <button class="join-button">Sign up</button>
      </div>
      <div class="col-4">
        <button class="join-button">Log in</button>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</section>
