<section class="join">
  <div class="container">
    <div class="row content-row first-row">
      <div class="col-md-2"></div>
      <div class="col-md-8 join-col">
        <h2 style="margin: auto;">{{ "HOME.JOIN-TITLE" | translate }}</h2>
        <p style="text-align: center; margin-top: 20px;">
          {{ "HOME.JOIN-TEXT" | translate }}
        </p>
      </div>
    </div>

    <div class="row content-row second-row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <button class="join-button" routerLink="/signup">
          {{ "HOME.JOIN-BTN1" | translate }}
        </button>
      </div>
      <div class="col-md-4">
        <button class="join-button" routerLink="/login">
          {{ "HOME.JOIN-BTN2" | translate }}
        </button>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
