.feed-general {
  font-family: Montserrat;
  color: #6b7a8f;
  padding: 20px;
}
.campaign-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.heading {
  font-weight: 700;
}
.brand {
  color: #f7882f;
  font-weight: 700;
}
h3 {
  font-weight: 700;
}

.half {
  width: 50%;
}

.accepted {
  color: green;
}

.pending {
  color: #f7882f;
}
::ng-deep .mat-expansion-panel,
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  font-family: Montserrat;
  color: #6b7a8f;
}

::ng-deep .mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  max-width: 50%;
}
.criteria-component {
  display: flex;
  justify-content: center;
}
.creator-criteria {
  margin: 20px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.creator-criteria p {
  margin-bottom: 0px;
}
.creator-criteria .criteria-title {
  margin-bottom: 10px;
}

.single-tag {
  margin-bottom: 5px;
}
.single-tag-text {
  margin: 10px;
}
