<div class="container feed-general">
  <div class="row filter-row">
    <div class="col-7 filter-col">
      Filter by:
      <div class="brand-filter">
        <mat-form-field>
          <mat-label>Brand</mat-label>
          <mat-select [(value)]="selectedBrand">
            <mat-option value="">None</mat-option>
            <mat-option *ngFor="let brand of brandNames" value="{{ brand }}">{{
              brand
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="category-filter">
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select [(value)]="selectedCategory">
            <mat-option value="">None</mat-option>
            <mat-option
              *ngFor="let category of categories"
              value="{{ category }}"
              >{{ category }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-5 search-col">
      <div class="search-filter">
        <mat-form-field class="example-form-field">
          <mat-label>Search</mat-label>
          <input matInput type="text" [(ngModel)]="search" />
          <button
            mat-button
            *ngIf="value"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="value = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2 class="heading">Campaign feed</h2>
      <div
        class="container"
        *ngFor="let c of campaigns.slice().reverse(); let i = index"
      >
        <div
          class="row single-campaign"
          *ngIf="
            (selectedBrand == '' && selectedCategory == '') ||
            (c.brandName == selectedBrand && c.category == selectedCategory) ||
            (c.brandName == selectedBrand && selectedCategory == '') ||
            (c.category == selectedCategory && selectedBrand == '')
          "
        >
          <div class="col-12">
            <h3>{{ c.name }}</h3>
            <p>
              by <span class="brand">{{ c.brandName }}</span>
            </p>
            <p>{{ c.description }}</p>
            <span id="read-more-text" class="toggle-text">
              <div class="row">
                <div class="col-6">
                  <p class="font-weight-bold">Category:</p>
                  <p>{{ c.category }}</p>
                  <p class="font-weight-bold">Brief for creators:</p>
                  <p>{{ c.brief }}</p>
                </div>
                <div class="col-6 criteria-component">
                  <div class="creator-criteria">
                    <p class="font-weight-bold criteria-title">
                      Looking for creators who fit these criteria:
                    </p>
                    <p class="font-weight-bold">Gender:</p>
                    <p>{{ c.gender }}</p>
                    <p class="font-weight-bold">Age range:</p>
                    <p>{{ c.age }}</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <p class="font-weight-bold">Do:</p>
                  <p>{{ c.todo }}</p>
                </div>
                <div class="col-6">
                  <p class="font-weight-bold">Don't:</p>
                  <p>{{ c.dont }}</p>
                </div>
              </div>

              <p class="font-weight-bold">Tags to include:</p>

              <p *ngFor="let t of c.tags | keyvalue" class="single-tag">
                <fa-icon [icon]="faTag" class="card-icon"></fa-icon
                ><span class="single-tag-text">{{ t.value }}</span>
              </p>
              <div
                class="need-socials"
                *ngIf="userSocialMedia == false && active === i"
              >
                <p>
                  We're sorry, you need to add your social media account(s) to
                  be able to apply to campaigns.
                </p>
              </div>
              <div class="not-applied" *ngIf="userApplied && active === i">
                <p>
                  You already applied to this campaign.
                </p>
              </div>
              <div class="applied" *ngIf="userApplied == false && active === i">
                <p>
                  Thank you for the submission!
                </p>
              </div>
              <button class="apply-button" (click)="applyForCampaign(c, i)">
                APPLY
              </button>
            </span>
            <button class="toggle-text-button read-more-button">
              READ MORE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
