::ng-deep .mat-expansion-panel-header {
  height: 230px !important;
}

.single-campaign {
  border: 2px solid #50a7c2;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px 0px;
  padding: 15px;
}

#read-button-down,
#read-button-up {
  cursor: pointer;
}

.toggle-text {
  display: none;
}

.toggle-text-button {
  display: block;
}
