<div class="container my-campaigns-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Manage campaigns</h1>
      <!-- <div
        class="container campaign-container"
        [ngClass]="{ hideContainer: noCampaigns == false }"
      > -->
      <div class="container campaign-container">
        <div class="row">
          <div class="col-12">
            <!-- <p>
              You currently have no campaigns. Click the button bellow to create
              one!
            </p> -->
            <button
              class="new-campaign-button"
              [routerLink]="['../new-campaign']"
            >
              <fa-icon [icon]="faPlus" class="card-icon plus-icon"></fa-icon>

              Add campaign
            </button>
          </div>
        </div>
      </div>
      <div class="container campaign-container">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let c of campaigns; let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ c.name }}
              </mat-panel-title>
              <mat-panel-description>
                by {{ c.brandName }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-12">
                <p class="font-weight-bold">Description:</p>
                <p>{{ c.description }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="font-weight-bold">Category:</p>
                <p>{{ c.category }}</p>
                <p class="font-weight-bold">Brief for creators:</p>
                <p>{{ c.brief }}</p>
              </div>
              <div class="col-6 criteria-component">
                <div class="creator-criteria">
                  <p class="font-weight-bold criteria-title">
                    Looking for creators who fit these criteria:
                  </p>
                  <p class="font-weight-bold">Gender:</p>
                  <p>{{ c.gender }}</p>
                  <p class="font-weight-bold">Age range:</p>
                  <p>{{ c.age }}</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <p class="font-weight-bold">Do:</p>
                <p>{{ c.todo }}</p>
              </div>
              <div class="col-6">
                <p class="font-weight-bold">Don't:</p>
                <p>{{ c.dont }}</p>
              </div>
            </div>

            <p class="font-weight-bold">Tags to include:</p>

            <p *ngFor="let t of c.tags | keyvalue" class="single-tag">
              <fa-icon [icon]="faTag" class="card-icon"></fa-icon
              ><span class="single-tag-text">{{ t.value }}</span>
            </p>

            <div class="row">
              <div class="col-sm-1">
                <button
                  class="delete-button"
                  (click)="onDelete(c.id, i)"
                  type="button"
                >
                  Delete
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
