<div class="container my-campaigns-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ "MANAGE-CAMP.TITLE" | translate }}</h1>
      <!-- <div
        class="container campaign-container"
        [ngClass]="{ hideContainer: noCampaigns == false }"
      > -->
      <div class="container campaign-container">
        <div class="row">
          <div class="col-12">
            <!-- <p>
              You currently have no campaigns. Click the button bellow to create
              one!
            </p> -->
            <button
              class="new-campaign-button"
              [routerLink]="['../new-campaign']"
            >
              <fa-icon [icon]="faPlus" class="card-icon plus-icon"></fa-icon>

              {{ "MANAGE-CAMP.ADD-CAMP-BTN" | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="container campaign-container">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let c of campaigns; let i = index">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ c.name }}
              </mat-panel-title>
              <mat-panel-description>
                {{ "CAMPAIGN-FEED-VIEW.CAMP-CREATED-BY" | translate }}
                <span class="brand-name">&nbsp;{{ c.brandName }}</span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-12">
                <p class="font-weight-bold">
                  {{ "CAMPAIGN-FEED-VIEW.CAMP-DESCRIPTION" | translate }}
                </p>
                <p>{{ c.description }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <p class="font-weight-bold">
                  {{ "CAMPAIGN-FEED-VIEW.CAMP-CATEGORY" | translate }}
                </p>
                <p>{{ c.category }}</p>
                <p class="font-weight-bold">
                  {{ "CAMPAIGN-FEED-VIEW.CAMP-BRIEF" | translate }}
                </p>
                <p>{{ c.brief }}</p>
              </div>
              <div class="col-sm-12 col-md-6 criteria-component">
                <div class="creator-criteria">
                  <p class="font-weight-bold criteria-title">
                    {{ "CAMPAIGN-FEED-VIEW.CAMP-CRITERIA" | translate }}
                  </p>
                  <p class="font-weight-bold">
                    {{ "CAMPAIGN-FEED-VIEW.CAMP-GENDER" | translate }}
                  </p>
                  <p>{{ c.gender }}</p>
                  <p class="font-weight-bold">
                    {{ "CAMPAIGN-FEED-VIEW.CAMP-AGE" | translate }}
                  </p>
                  <p>{{ c.age }}</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-6">
                <p class="font-weight-bold">
                  {{ "CAMPAIGN-FEED-VIEW.CAMP-DO" | translate }}
                </p>
                <p>{{ c.todo }}</p>
              </div>
              <div class="col-sm-12 col-md-6">
                <p class="font-weight-bold">
                  {{ "CAMPAIGN-FEED-VIEW.CAMP-DONT" | translate }}
                </p>
                <p>{{ c.dont }}</p>
              </div>
            </div>

            <p class="font-weight-bold">
              {{ "CAMPAIGN-FEED-VIEW.CAMP-TAGS" | translate }}
            </p>

            <p *ngFor="let t of c.tags | keyvalue" class="single-tag">
              <fa-icon [icon]="faTag" class="card-icon"></fa-icon
              ><span class="single-tag-text">{{ t.value }}</span>
            </p>

            <div class="row">
              <div class="col-sm-1">
                <button
                  class="delete-button"
                  (click)="onDelete(c.id, i)"
                  type="button"
                >
                  {{ "MANAGE-CAMP.DELETE-CAMP-BTN" | translate }}
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
