<div class="container my-campaigns-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Manage campaigns</h1>

      <div class="container campaign-container">
        <mat-accordion *ngFor="let c of campaigns; let i = index">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ c.name }}
              </mat-panel-title>
              <mat-panel-description>
                by {{ c.brandName }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-sm-6">
                <h5>About the campaign:</h5>

                <p class="font-weight-bold">Description:</p>
                <p>
                  {{ c.description }}
                </p>
                <p class="font-weight-bold">Category:</p>
                <p>{{ c.category }}</p>
                <p class="font-weight-bold">Briefing</p>
                <p>
                  {{ c.brief }}
                </p>
                <p class="font-weight-bold">Do:</p>
                <p>
                  {{ c.todo }}
                </p>
                <p class="font-weight-bold">Don't:</p>
                <p>
                  {{ c.dont }}
                </p>
                <p class="font-weight-bold">Tags to include:</p>
                <p>
                  {{ c.tags }}
                </p>
              </div>
              <div class="col-sm-5">
                <h5>Must fit these criterias:</h5>
                <p class="font-weight-bold">Gender:</p>
                <p>{{ c.gender }}</p>
                <p class="font-weight-bold">Age range:</p>
                <p>{{ c.age }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-1">
                <button
                  class="btn btn-danger"
                  (click)="onDelete(c.id, i)"
                  type="button"
                >
                  Delete
                </button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <!-- <div class="container campaign-container">
        <div class="row">
          <div class="col-xs-12">
            <h3>Name</h3>
            <p>by Brand</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p class="font-weight-bold">Description:</p>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as opposed to using 'Content here,
              content here', making it look like readable English.
            </p>
            <p class="font-weight-bold">Category:</p>
            <p></p>
            <p class="font-weight-bold">Briefing</p>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as opposed to using 'Content here,
              content here', making it look like readable English.
            </p>
            <p class="font-weight-bold">Do:</p>
            <p>
              Many desktop publishing packages and web page editors now use
              Lorem Ipsum as their default model text, and a search for 'lorem
              ipsum' will uncover many web sites still in their infancy.
            </p>
            <p class="font-weight-bold">Don't:</p>
            <p>
              Many desktop publishing packages and web page editors now use
              Lorem Ipsum as their default model text, and a search for 'lorem
              ipsum' will uncover many web sites still in their infancy.
            </p>
            <p class="font-weight-bold">Tags to include:</p>
            <p>
              one two three
            </p>
          </div>
          <div class="col-sm-6">
            <h4>Must fit these criterias:</h4>
            <p class="font-weight-bold">Gender:</p>
            <p>x</p>
            <p class="font-weight-bold">Age range:</p>
            <p>x</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
