<div class="container my-campaigns-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ "MANAGE-SUBM.TITLE" | translate }}</h1>
      <div class="container campaign-container">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let c of campaigns">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ c.name }}
              </mat-panel-title>
              <mat-panel-description> {{ c.category }}</mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row table-header">
              <div class="col-md-3">
                {{ "MANAGE-SUBM.NAME" | translate }}
              </div>
              <div class="col-md-3">
                Instagram
              </div>
              <div class="col-md-3">
                Email
              </div>
              <div class="col-md-3">
                Status
              </div>
            </div>
            <div
              class="row creator-list"
              *ngFor="let s of c.submissions | keyvalue; let i = index"
            >
              <div class="col-md-3">
                <p>{{ s.value.name }}</p>
              </div>
              <div class="col-md-3">
                <div
                  class="social-usernames"
                  *ngFor="let social of s.value.social | keyvalue"
                >
                  <a
                    href="https://www.instagram.com/{{ social.value.username }}"
                    target="blank"
                    >{{ social.value.username }}</a
                  >
                </div>
              </div>
              <div class="col-md-3 email-col">
                <a href="mailto:{{ s.value.email }}">
                  <fa-icon [icon]="faEnvelope" class="card-icon"></fa-icon>
                </a>
              </div>

              <div class="col-md-3">
                <div *ngIf="!(s.value.status | keyvalue)?.length">
                  <button
                    name="accept-btn-name"
                    class="accept-button"
                    type="button"
                    (click)="
                      onAcceptCreator(
                        s.value.id,
                        c.id,
                        s.key,
                        s.value.email,
                        c,
                        i
                      )
                    "
                    [ngClass]="{
                      'btn-accept': !clicked && clickedIndex == i,
                      'btn-done': clicked && clickedIndex == i
                    }"
                  >
                    <fa-icon
                      *ngIf="
                        (!clicked && clickedIndex == i) ||
                        (clicked && clickedIndex != i) ||
                        !clicked
                      "
                      [icon]="faPlus"
                      class="card-icon plus-icon"
                    ></fa-icon>
                    <fa-icon
                      *ngIf="clicked && clickedIndex == i"
                      [icon]="faCheck"
                      class="card-icon"
                    ></fa-icon>
                    {{ clicked && clickedIndex == i ? "done" : "accept" }}
                  </button>
                </div>

                <div *ngIf="(s.value.status | keyvalue)?.length">
                  <button class="accept-button btn-done" type="button" disabled>
                    <fa-icon [icon]="faCheck" class="card-icon"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
