<section class="creator" id="creators">
  <div class="container">
    <div class="row content-row">
      <div class="col-md-6 text-col">
        <h3>For Creators</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining unchanged.
        </p>
        <button class="join-button" routerLink="/signup">JOIN US</button>
      </div>
      <div class="col-md-6 image-col">
        <div class="shadow-effect">
          <img src="/assets/images/5.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
