.creator {
  background-color: #6b7a8f;
}

.text-col {
  color: #dcc7aa;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  text-align: right;
  padding: 20px 25px 15px 25px;
}

.text-col h3 {
  font-weight: 700;
  font-size: 6vh;
}

.join-button {
  background-color: #f8ead5;
  color: #f7882f;
  border: 0;
  padding: 10px 20px;
  margin: 15px 0px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Montserrat;
}

.join-button:hover {
  background-color: #f7882f;
  color: #f8ead5;
  transition: 0.3s;
}

.image-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-col img {
  max-height: 300px;
  width: 100%;
}

.shadow-effect {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
