ngb-carousel .picsum-img-wrapper {
  position: relative;
  height: 0;
  padding-top: 45%; /*Keep ratio for 900x500 images*/
}

ngb-carousel .picsum-img-wrapper > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.carousel-caption {
  color: #f7882f;
}

ngb-carousel {
  outline: none;
}

ngb-carousel .carousel-caption {
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ngb-carousel .carousel-caption h1 {
  font-size: 6vh;
  font-weight: 700;
}

ngb-carousel .carousel-caption p {
  font-size: 3vh;
  max-width: 60%;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

ngb-carousel .carousel-indicators {
  display: none;
}

@media only screen and (max-width: 576px) {
  ngb-carousel .picsum-img-wrapper {
    height: 250px;
  }
  ngb-carousel .carousel-caption h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  ngb-carousel .carousel-caption p {
    display: none;
    /* font-size: 1rem;
    max-width: 60%; */
  }
  ngb-carousel .carousel-caption {
    bottom: 41px;
  }
}
