<section class="about">
  <div class="container content-row">
    <div class="row">
      <!-- <div class="col-2"></div> -->
      <div class="col-12">
        <h2>{{ "HOME.TEAM-TITLE" | translate }}</h2>
        <div class="row people-row">
          <div class="col-md-4">
            <mat-card class="person-card">
              <mat-card-header>
                <div mat-card-avatar class="person1"></div>
                <mat-card-title>{{
                  "HOME.TEAM-CARD1-NAME" | translate
                }}</mat-card-title>
                <mat-card-subtitle>{{
                  "HOME.TEAM-CARD1-FUNCTION" | translate
                }}</mat-card-subtitle>
              </mat-card-header>
              <img
                mat-card-image
                src="../../../assets/images/person1.jpg"
                alt="Alexa co-founder"
              />
              <mat-card-content>
                <p>
                  {{ "HOME.TEAM-CARD1-DESCRIPTION" | translate }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card class="person-card">
              <mat-card-header>
                <div mat-card-avatar class="person2"></div>
                <mat-card-title>{{
                  "HOME.TEAM-CARD2-NAME" | translate
                }}</mat-card-title>
                <mat-card-subtitle>{{
                  "HOME.TEAM-CARD2-FUNCTION" | translate
                }}</mat-card-subtitle>
              </mat-card-header>
              <img
                mat-card-image
                src="../../../assets/images/person2.jpg"
                alt="Ezra co-founder"
              />
              <mat-card-content>
                <p>
                  {{ "HOME.TEAM-CARD2-DESCRIPTION" | translate }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card class="person-card">
              <mat-card-header>
                <div mat-card-avatar class="person3"></div>
                <mat-card-title>{{
                  "HOME.TEAM-CARD3-NAME" | translate
                }}</mat-card-title>
                <mat-card-subtitle>{{
                  "HOME.TEAM-CARD3-FUNCTION" | translate
                }}</mat-card-subtitle>
              </mat-card-header>
              <img
                mat-card-image
                src="../../../assets/images/person3.jpg"
                alt="Joan co-founder"
              />
              <mat-card-content>
                <p>
                  {{ "HOME.TEAM-CARD3-DESCRIPTION" | translate }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <!-- <div class="col-2"></div> -->
    </div>
  </div>
</section>
