<h2 mat-dialog-title>{{ username }}</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Instagram handle" formControlName="username" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary dialog-button" (click)="save()">
    {{ "SOCIAL-MEDIA-VIEW.NEW-DIALOG-SAVE-BTN" | translate }}
  </button>
  <button class="mat-raised-button dialog-button" (click)="close()">
    {{ "SOCIAL-MEDIA-VIEW.NEW-DIALOG-CLOSE-BTN" | translate }}
  </button>
</mat-dialog-actions>
